*{
    margin: 0;
    padding: 0;
    

}
.container{
    border: 2px solid red;
}
.nav{
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: whitesmoke;

 
}
.item{
    display: flex;
    justify-content: center;
    gap: 20,;
}
html{
    scroll-behavior: smooth;
    background-color: rebeccapurple;
}
.image{
    display: flex;
    flex-direction: column;
    gap: 20,;
    border: 2px solid black;
    
}